/* Insieme del css di tutte le pagine */
/* STANDARD FOR MOBILE */
* {
/*trasparent link and button selection*/
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-box-sizing:border-box;
}
body {
 -webkit-touch-callout:none;
 /*no callouts during tap and hold*/
 -webkit-text-size-adjust:none;
 /* no fonts auto inflation */
 -webkit-user-select:none;
 /* no copy and paste, etc. */
 background-attachment: fixed;
 font-family: 'helveticaNeue-Light','helveticaNeue','helvetica','arial','sans-serif';
 font-size: 12px;
 text-transform: uppercase;
 overflow: hidden; /*Toglie la barra orizzontale */
 /*overflow:hidden;*/   /*Toglie le barre orizzontali E verticali!*/
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
}
/* END STANDARD MOBILE */


/* NOTA BENE !!! ----> IL CSS E' DIVISO PER SEZIONI! *********************** */
/*  HeadInit ************************************************************************************ */

div#log_bg{
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    background-image:url('../img/bg.png');
}
div#log_logo{
    
    position:relative;
    height:50%;
    width:100%;
    top:0%;
}
#log_logo > #logo{
    position:relative;
    margin:0 auto;
    height:300px;
    width:300px;
    background-image:url('../img/logoPreload.png');
}
div#log_content{
    position:relative;
    width:100%;
    margin:0 auto;
    height:50%; 
    

}

/*schermata scelta città*/
#sc_Container { /*cont scelta*/
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}
#a_Sceltac{
    position:absolute;
    top:0px;
    left:0px;
    height:40%;
    width:100%;
    background-color: rgba(255,255,255,.4);
}
#a_Sceltac > a{
    width:80%;
}
#separate{
    position:absolute;
    top:40%;
    left:0px;
    height:20%;
    width:100%;
}

#b_Sceltac{
    position:absolute;
    top:60%;
    left:0px;
    height:40%;
    width:100%;
    background-color: rgba(0,0,0,.4);
}

#b_Sceltac > a{
    position:relative;
    top:15%;
    display:block;
    width:80%;
}

#b_Sceltac > form{
    position:relative;
    top:30%;
}


select#sel_Citta {
    display:block;
    width: 60%;
    height: 30px;
    color:white;
    padding:0 0 0 0; /* Da togliere -> inutile*/
    border: 1px solid white;
    border-radius: 4px;
    background-color: #555555;
    text-align: center;
}
#sel_Citta > option{
    
}

/*LOGIN*/

#l_Container{
    position:relative;
    width:80%;
    height:100%;
    top:0px;
    left:10%;
}

#lForm{
    position:relative;
    top:0px;
    left:0px;
    width:100%;
}
#lForm > div{ /*LINEE*/
    position:relative;
    top:0px;
    left:0px;
    height:1px;
    width:100%;
    background-color: black;
}
#lForm > form{

}
#lForm > form > input{
    position:relative;
    width:80%;
    height:100%;
    left:10%;
    text-align: center;
    border:none;
    color:rgb(30,30,30);
}
#pButton {
    position:relative;
    margin-top:10px;
    width:100%;
}
#pButton > a{
    width:100%;
    
}
#automate{
    position:relative;
    margin-top:10px;
}
#link{
    margin-top:10px;
    display:block;
}
#link_ps{
    display:inline-block;
    float:left;
}
#link_r{
    display:inline-block;
    float:right;
}




/*  HeadNavig ***************************************************************************** */
#content{ /*Lo usiamo per mettere il bg in comune a tutte le pagine headNavig*/
    position:absolute;
    overflow:visible;
    top:10%;
    left:0%;
    height:100vh;
    width:100%;
    background-image:url('../img/bg.png');
    z-index:-4;
}



/* SIDEMENU!!! (in HeadNavig)************************************************************************* */


/*  */
#sideModal {
    display:none;
    position: fixed;
    z-index:3;
    top:0;
    width: 75%;
    height:100%;
    background-color: #b83b3b; /*Per chi non supporta webkit*/
    background-image:url("../img/patternSideMenu.png");
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animateleft;
    -webkit-animation-duration: 0.4s;
    animation-name: animateleft;
    animation-duration: 0.4s
}

/* Animazione per SideMenu*/
@-webkit-keyframes animateleft {
    from {left:-75%; opacity:0} 
    to {left:0; opacity:1}
}

@keyframes animateleft {
    from {left:-75%; opacity:0}
    to {left:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#decorazione{/*Barra di decorazione verticale del sidemenu*/
    position:absolute;
    width:10%;
    height:100%;
    top:0%;
    right:0%;
    background-color:#d32633; 
}

.onMenu {
    display:block;
    text-decoration:none;
    margin-top:3%;
    margin-left:2%;
    width:90%;
    padding: 1px 0px 1px 5px;
    background: -webkit-linear-gradient(left,#df5353,#d32633);
    border-top:2px solid #df5353;
    border-left:2px solid #df5353;
    border-bottom:2px solid #df5353;
    border-radius: 4px;
}
#logoRes{
    display:block;
    position:relative;
    width:127px;
    height:150px;
    margin-left:auto;
    margin-right:auto;
    border:transparent;
    background:transparent;
}
#logoMenu{
    display:block;
    width:100%;
    height:100%;
}
#scltCitta {
    text-align:center;
    text-decoration:none;
    font-size:12px;
    font-family:'open sans','helveticaNeue-Light','helveticaNeue','helvetica','arial','sans-serif';
    color:white;
    border:none;
    background-color:transparent;
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance:none;
}
#mLinks{
    position:absolute;
    text-decoration:none;
    top:80%;
    margin-left:2%;
    margin-top:10%;
}
#mLinks a{
    display:block;
    color:#81dd0a;
    text-decoration:none;
}
#parteOP{
    display:none;
}

#sdwModal{/* Ombra per il SideMenu */
    display:none;
    position: fixed;
    z-index:2;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background-color: #000000; /*Fallback*/
    background-color:rgba(0,0,0,0.4);
}

/*Fine SideMenu, Inizio Modal Carrello ********************************************** */
#cartModal{ /*Modal del carrello*/
    display:none;
    position: fixed;
    z-index:3;
    top:0;
    width: 100%;
    height: 100%;
    background-color: #b83b3b; /*Per chi non supporta webkit*/
    background-image:url("../img/patternSideMenu.png");
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animateright;
    -webkit-animation-duration: 0.4s;
    animation-name: animateright;
    animation-duration: 0.4s
}

/* Animazione del carrello */
@-webkit-keyframes animateright {
    from {right:-75%; opacity:0} 
    to {right:0; opacity:1}
}

@keyframes animateright {
    from {right:-75%; opacity:0}
    to {right:0; opacity:1}
}


/*  Barra di navigazione superiore ************************************************** */
#bar_bg{ 
    position:fixed;
    display:block;
    top:0%;
    height:10%;
    width:100%;
    color:white;
    background-color:black;
    z-index:1;
}

#bar_main{
    position:relative;
    top:0%
    left:0%;
    height:60%;
    min-height:38px;
    width:100%;
    background-color:green;
}

#bar_bg > #bar_main > div { /*  Metti i bottoni della bar_main tutti in linea*/
  display:inline-block;
  position:absolute;
  height:40px;
  width:40px;
  top:0%;
}

#menuIcon{ /*  Lista di icone della barra superiore    */
  background-image:url('../img/icon/MenuBottone.png');
  width:50px;
  height:50px;
  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */
  left:0px;
  float:left;
  
}
#searchIcon{
  position:relative;
  background-image:url('../img/icon/Search.png');
  background-position: 0px 0px 0px;
  /*padding: 12px 20px 12px 40px;*/
  background-repeat: no-repeat;
  width:50px;
  height:50px;
  right:20px;
  top:1px;
  float:right;
}
#searchIcon > input[type=text]{
  position:relative;
  top:4px;
  left:5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  width:30px;
  height:30px;
}
#searchIcon > input[type=text]:focus{
  position:relative;
  left:-250px;
  width:250px;
}

#cartIcon{
  background-image:url('../img/icon/Cart.png');
  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */
  right:0px;
  float:right;
  
}
/*  Zona della navigation bar dove ci sono i tasti "Offerte"-"aziende"-"categorie"  */
#bar_sub{
    position:relative;
    top:0%;
    left:0%;
    width:100%;
    
    height:40%;
    min-height:26px;
}
#bar_sub > div{
    height:100%;
    width:100%;
}
#bar_sub > div > div{
    position:relative;
    margin-top:2%;
    top:-65%;
    display:inline-block;
    height:80%;
    text-align: center;
    border:1px solid white;
    border-radius: 2px;
}
#tOfferte{ /*Quando viene aperta la prima volta, si presenta così*/
    background-color:white;
    color:black;
}



/*** SCHERMATA OFFERTE! *********************************************** */
#container_Offerte{
    position:relative;
    overflow: visible;

    top:2vh;
    left:0px;
    width:100%;
    height:25vh;
}
#container_Nuovi{
    position:relative;
    overflow: visible;
    display:block;
    top:15vh;
    width:100%;
    height:25vh;
}


.autoplay{ /*Spazio dello slider, normale*/ 
    overflow: visible;
    height:100%;
    width:100%;
}

/*Qualcosa di sbagliato nella posizione delle varie productbox!!!*/
.productBox { /*Elementi della slider, con errore*/
    display:inline-block;
    overflow: visible;
    margin:0 auto;
    width:150px;
    height:200px;
    border:1px solid grey;
    background-color:red;
}

.prod_img{
    
    width:100%;
    height:100px;
    background-color:yellow;
}
.productBox > a{
    position:absolute;
    width:150px;
    height:40px;
    bottom:0;
    left:0;
}
.prod_nome{}
.prod_az{}


/* sezione prova pagina DettagliProdotto ******************************************************** */
#dettaglio_Prodotto{
}

#dp_head{
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    height:40%;
    min-height:200px;
    background-color: yellow;
}

#dp_himg{

    width:200px;

    height:200px;
    background-color:green;

}
#dp_himg > #a{
    width:200px;
    height:200px;
    background-color:white;
}
#dp_hinf{

    width:100%;
    height:200px;
    background-color: brown;
}
#dp_thumb{
    position:relative;
    top:0px;
    height:10%;
    min-height:80px;
    width:100%;
    background-color:purple;
}
#dp_dett{
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    height:46vh;
    background-color:white;
}

/* sezione relativa a dettaglio azienda ********************************************************** */


/* ******* SCHERMATA LISTA AZIENDE ********************************* */
#lista_Aziende {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}
.az_Quad {
    margin-top:20px;
    width:150px;
    height:150px;

}


/*INCOMINCIA LA NAVIGAZIONE MENU HeadMenu*/

#menu_bg{
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background-color: #b83b3b; /*Per chi non supporta webkit*/
    background-image:url("../img/patternSideMenu.png");

}

/*Inserisci Dati Spedizione ******************************/