
<span>Aiuto</span>

<ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header">Come si usa l'applicazione?</div>
      <div class="collapsible-body"><span>Questo elemento dovrebbe essere nascosto e permettermi di scrivere delle cose</span></div>
    </li>
    <li>
      <div class="collapsible-header">Come posso comprare prodotti?</div>
      <div class="collapsible-body"><span>Questo elemento dovrebbe essere nascosto e permettermi di scrivere delle cose</span></div>
    </li>
    <li>
      <div class="collapsible-header">Come faccio a cercare prodotti?</div>
      <div class="collapsible-body"><span>Questo elemento dovrebbe essere nascosto e permettermi di scrivere delle cose</span></div>
    </li>
</ul>
            
<span id="tastoIndietro"> Bottone per tornare indietro </span>
