
        <div class="appMenu">

            <div id="titolo_">Aiuto</div>

            <div id="" class="settDomanda" tabindex="0">Come si usa l'applicazione?
                <div class="descrHidden"> Questo elemento dovrebbe essere nascosto e permettermi di scrivere delle cose </div>
            </div>
            <div id="" class="settDomanda" tabindex="0">Come posso comprare prodotti?
                 <div class="descrHidden"> Questo elemento dovrebbe essere nascosto e permettermi di scrivere delle cose </div>
            </div>
            <div id="" class="settDomanda" tabindex="0">Come faccio a salvare un indirizzo?
                 <div class="descrHidden"> Questo elemento dovrebbe essere nascosto e permettermi di scrivere delle cose </div>
            </div>
            <div id="" class="settDomanda" tabindex="0">Come posso gestire le liste dei desideri?
                 <div class="descrHidden"> Questo elemento dovrebbe essere nascosto e permettermi di scrivere delle cose </div>
            </div>
           
           <div> Bottone per tornare indietro </div>

        </div>
