
<span id="m_Title" class="col s12 center-align"><h5>AIUTO</h5></span>
<ul id="col_help" class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header">Come si usa l'applicazione?</div>
      <div class="collapsible-body"><span>LoveItaly è un'applicazione user-friendly creata per soddisfare le esigenze della clientela.</span></div>
    </li>
    <li>
      <div class="collapsible-header">Come posso comprare prodotti?</div>
      <div class="collapsible-body"><span>Per comprare dei prodotti basta visualizzarli ed aggiungerli al carrello.</span></div>
    </li>
    <li>
      <div class="collapsible-header">Come faccio a cercare prodotti?</div>
      <div class="collapsible-body"><span>I prodotti possono essere cercati visualizzando le 3 schermate a disposizione (Offerte, Categorie, Aziende, oppure effettuando la ricerca.</span></div>
    </li>
</ul>
            
<a id="t_Back" class="waves-effect waves-light btn col s12 center-align">Torna Indietro</a>
