
        <div class="appMenu">

            <div id="titolo_">Carrello</div>

            <hr class="linea"/><br/>
            <!-- Prodotto,         costo, quantità, totale formattati e allineati -->
                <div id="testa">
                    <div class="position1"> Prodotto </div>
                    <div class="position2"> Costo </div>
                    <div class="position3"> Quant. </div>
                    <div class="position4"> Totale </div> 
                </div>

            <hr class="linea"/><br/>
            <!-- thumbnail + nome, costo, quantità, totale costo -->
                <div class="sezione">
                    <div id="positionIMGSez" class="thumb"></div>
                    <div class="positdef"> prodotto </div>
                    <div class="positdef"> 3.00€ </div>
                    <div class="positdef"> 2 </div>
                    <div class="positdef"> 6.00€ </div>
                </div>
            <hr class="linea"/><br/>
             <!-- thumbnail + nome, costo, quantità, totale costo -->
                <div class="sezione">
                    <div id="positionIMGSez" class="thumb"></div>
                    <div class="positdef"> prodotto </div>
                    <div class="positdef"> 3.00€ </div>
                    <div class="positdef"> 2 </div>
                    <div class="positdef"> 6.00€ </div>
                </div>

            <hr class="linea"/><br/>
            <!-- thumbnail + nome, costo, quantità, totale costo -->
                <div class="sezione">
                    <div id="positionIMGSez" class="thumb"></div>
                    <div class="positdef"> prodotto </div>
                    <div class="positdef"> 3.00€ </div>
                    <div class="positdef"> 2 </div>
                    <div class="positdef"> 6.00€ </div>
                </div>

            <hr class="linea"/><br/>
             <!-- thumbnail + nome, costo, quantità, totale costo -->
                <div class="sezione">
                    <div id="positionIMGSez" class="thumb"></div>
                    <div class="positdef"> prodotto </div>
                    <div class="positdef"> 3.00€ </div>
                    <div class="positdef"> 2 </div>
                    <div class="positdef"> 6.00€ </div>
                </div>

            <hr class="linea"/><br/>
            
            <div id="calcolo">
                <div class="sezioneCalcolo">
                    <div id="" class="positionCalc1">GestioneOrdine</div>
                    <div id="" class="positionCalc2">Costo</div>
                </div>
                <hr class="lineaMin"/><br/>
                <div class="sezioneCalcolo">
                    <div id="" class="positionCalc1">Consegna</div>
                    <div id="" class="positionCalc2">Gratuita!</div>
                </div>
                <hr class="lineaMin"/><br/>
                <div class="sezioneCalcolo">
                    <div id="" class="positionCalc1">TOTALE</div>
                    <div id="" class="positionCalc2">24.00€</div>
                </div>
                
                
            </div>

            <div class="ord_button">
                <div class="opM_button">Compra di nuovo</div>
                <div class="opM_button">Torna Indietro</div>
            </div>

        </div>
