
        <div id="container" class="container">


            <!-- dp_SUP = superiore, dp_INF = inferiore. lo spazio sotto la barra superiore è diviso a metà per i fini di questa schermata -->
            <div id="dp_SUP">
                <div id="img_SUP"> <img src="img/logoPreload.png" width="150" height="150"> </div>
                <div id="lft_dscr"> <!-- DIV CHE RAGGRUPPA ELEMENTI DX IMMAGINE -->
                    <p id="nome_SUP">Nome Prodotto</p>
                    <p>Quantità: 20 pezzi</p><!-- Da aggiungere in maniera dinamica tramite js -->
                    <p>Costo: €1,10</p>  <!-- Da aggiungere in maniera dinamica tramite js -->
                    <p>Peso: 1kg</p>
                    
                    <div id="button_cart" class="redButton">Aggiungi al carrello</div>
                    <div id="button_desid" class="redButton">Aggiungi ai desideri</div>
                    <div id="button_share" class="redButton">Invia ad un amico</div>
                </div>
                <div id="colThumb">AAAAAAAAAAAAAAAAAA
                    <div></div>
                    <div></div>
                    <div></div>
                </div>

            </div>


            <div id="dp_INF">
                <p id="titolo_INF">Dettagli prodotto</p>
                <p id="descr_INF">Descrizione del prodotto in questione, bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla Descrizione del prodotto in questione, bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
                <p id="titoloB_INF">Nome Azienda Produttrice</p>
                <p id="partIva_INF">Partita Iva</p>
                <p id="ind_INF">Indirizzo o indicazioni</p>
                <div id="detAziendaButton" class="redButton">Dettagli Azienda</div>
            </div>
            
            


        </div>
