
        <div id="container" class="container">


            <!-- dp_SUP = superiore, dp_INF = inferiore. lo spazio sotto la barra superiore è diviso a metà per i fini di questa schermata -->
            <div id="dp_SUPE">
                <div id="imgAZ_SUP"> <img src="img/logoPreload.png" width="150" height="150"> </div>
                <div id="dati_DX">
                    <p id="nomeAZ_SUP">Nome Azienda</p>
                    <p id="pIva_SUP">Partita Iva</p>
                    <p id="ind_SUP">Indirizzo Azienda</p>
                </div>
                <div id="descr_mid">
                    <p id="storiaAz">Storia Azienda bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
                </div>
                <div id="button_ContinuaStoria"> </div>

            </div>


            <div id="dp_INFA">
                <!-- Qui vanno prodotti a 2, come quelli che vengono visualizzati in una categoria -->
                <div id="offerta_" class="Scritta">Prodotti dell'Azienda</div>
                <div id="vSet">
                    <div class="vBlockSX">
                        <div class="pBlock"></div>
                        <div class="pBlock"></div>
                        <div class="pBlock"></div>
                        <div class="pBlock"></div>
                    </div>
                    <div class="vBlockDX">
                        <div class="pBlock"></div>
                        <div class="pBlock"></div>
                        <div class="pBlock"></div>
                        <div class="pBlock"></div>
                    </div>

                </div>
            </div>
        </div>
