<div id="da_cont">

    <div id="da_head">

        <div id="nome_azienda" class="center-align"><h6>{{this.name}}</h6></div>
        <br><br>
        <p id="da_descrizione">{{short_description}}</p>
        
    </div>

    <div id="da_dett">
        <div id="storia_azienda" class="center-align"><h6>Storia Azienda</h6></div>
        <br>
        <p id="da_storia">{{meta_description}}</p>
       
    </div>

    <div id="da_prod">

        <div class="row">
            <div class="col s12 center-align">Prodotti Dell'Azienda</div>
            {{#each this}}
                <div class="col s6">
                    <div class="productBox card white">
                        <div class="prod_img card-image">immagine</div>
                        <div class="card-content">
                            <span class="prod_nome">prodotto</span>
                            <span class="prod_az">azienda</span>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

    </div>

</div>
