<div id="da_cont">

    <div id="da_head">

        <div class="row">
            <div class="col s6">
                <!-- Immagine Azienda -->

            </div>
            <div class="col s6">
                <!-- Descrizione Generale -->

            </div>
        </div>

    </div>

    <div id="da_dett">
        <div> <!-- STORIA --> </div>
        <div> <!-- BOTTONE --> </div>
    </div>

    <div id="da_prod">

        <div class="row">
            {{#each this}}
                <div class="col s6">
                    <div class="productBox card white">
                        <div class="prod_img card-image">immagine</div>
                        <div class="card-content">
                            <span class="prod_nome">prodotto</span>
                            <span class="prod_az">azienda</span>
                        </div>
                        <a class="waves-effect waves-light btn">button</a>
                    </div>
                </div>
            {{/each}}
        </div>

    </div>

</div>
