<div id="dp_cont">

    <div id="dp_head"><!-- primo blocco -->
        <div class="row">
            <div class="col s7">
                <div id="dp_himg"><!-- Immagine -->
                    <p>prova a</p>
                </div>
            </div>
            <div class="col s5">
                <div id="dp_hinf"><!-- Informazioni a destra immagine -->
                    <!-- Varie stringhe di informazione -->
                    <!-- 2 pulsanti -->
                    <p>Nome Prodotto</p>
                    <p>Quantità</p>
                    <p>Costo</p>
                    <p>Peso</p>
                </div>
            </div>
        </div>
    </div>

    <div id="dp_thumb"><!-- secondo blocco -->
        <div><!-- Lista Thumbnail ! USA HANDLEBARS -->
        </div>
    </div>


    <div id="dp_dett"><!-- terzo blocco -->
        <p>Dettagli</p>
        <p>Lista di informazioni inerenti a dettaglio prodotto ecc</p>

        <p>Nome Azienda Produttrice</p>
        <p>partita iva</p>
        <p>indirizzo ecc ecc ecc</p>
        <div class="center-block"> BOTTONE DETTAGLI AZIENDA </div>

    </div>

</div>