
        <div>
            
            <div id="titolo_">Gestione Liste Desideri</div>
            
            <div id="creazListaD">
            
                <!-- form solo inserimento -->
                <form id="myform" class="linea_pic" action="">
                    <p align="center">Nuova Lista dei Desideri</p>
                    <p>
                    <label for="user">Inserisci Nome</label>
                    <input type="text" id="ldnome" name="nome">
                    </p>

                    <div id="gld_bottone">
                        <!-- bottone -->
                        <div class="opM_button">Salva</div>
                    </div>
                </form>
                
                
            
            </div>  
            
            <div id="listaD" class="i-container">
                
                <div id="etich_1" class="i-g">
                    <div class="i-4" style="background-color: red">Nome Lista</div>
                    <div class="i-2" style="background-color: red">Quant.</div>
                    <div class="i-4" style="background-color: red">Data</div>
                </div><br/>

                
                <div class="i-g">
                    <hr class="linea"/><br/>
                    <div class="i-4">NomeLista1</div>
                    <div class="i-2">4</div>
                    <div class="i-4">12/11/2006</div>
                    <div class="i-2">X</div><br/>
                    <hr class="linea"/><br/>
                    <div class="i-4">NomeLista2</div>
                    <div class="i-2">9</div>
                    <div class="i-4">2/1/2016</div>
                    <div class="i-2">X</div><br/>
                    <hr class="linea"/><br/>


                </div>
                  
            </div> 

            <div id="gld_bottone">
                <div class="opM_button">Torna Indietro</div>
            </div> 
        
        </div>


            <!--
            <div id="listaD">
                
                <div class="posiz_1">Nome Lista</div>
                <div class="posiz_2">Quant.</div>
                <div class="posiz_3">Data</div><br/>
                <hr class="linea"/><br/>
                <div class="posiz_1">NomeListaDeiDesideri1</div>
                <div class="posiz_2">4</div>
                <div class="posiz_3">12/11/2006</div><br/>
                <hr class="linea"/><br/>
                <div class="posiz_1">NomeListaDeiDesideri2</div>
                <div class="posiz_2">9</div>
                <div class="posiz_3">2/1/2016</div><br/>
                <hr class="linea"/><br/>
                  
            </div> 
            -->
            <!-- bottone per tornare indietro -->

          
        
