
        <div>
            <div id="titolo_">Gestione Liste Desideri</div>
            <div id="creazListaD">
                <p>Nuova Lista dei Desideri</p>
                <hr class="linea_pic"/>
                <!-- form solo inserimento -->
                <form>
                    <input type="text" id="ldnome" name="nomelistadesideri"/>
                </form>
                <!-- bottone -->
                <div id="gld_bottone">
                    <div class="opM_button">Salva</div>
                </div>
            </div>  
            <div id="listaD">
                <div id="etich_l">
                    <div>Nome Lista</div>
                    <div>Quant.</div>
                    <div>Data</div>
                </div><br/>
                <div>
                    <hr class="linea"/><br/>
                    <div>NomeLista1</div>
                    <div>4</div>
                    <div>12/11/2006</div><br/>
                    <hr class="linea"/><br/>
                    <div>NomeLista2</div>
                    <div>9</div>
                    <div>2/1/2016</div><br/>
                    <hr class="linea"/><br/>
                </div>
                  
            </div> 

            <div id="gld_bottone">
                <div class="opM_button">Torna Indietro</div>
            </div>

            <!--
            <div id="listaD">
                
                <div class="posiz_1">Nome Lista</div>
                <div class="posiz_2">Quant.</div>
                <div class="posiz_3">Data</div><br/>
                <hr class="linea"/><br/>
                <div class="posiz_1">NomeListaDeiDesideri1</div>
                <div class="posiz_2">4</div>
                <div class="posiz_3">12/11/2006</div><br/>
                <hr class="linea"/><br/>
                <div class="posiz_1">NomeListaDeiDesideri2</div>
                <div class="posiz_2">9</div>
                <div class="posiz_3">2/1/2016</div><br/>
                <hr class="linea"/><br/>
                  
            </div> 
            -->
            <!-- bottone per tornare indietro -->

          
        </div>
