<!--    SIDEMENU           -->
            <!-- Nuova Prova Sidemenu -->
            <!-- The Modal -->
            <div id="sideModal">

                <div id="decorazione"></div>
                
                <div id="parteSM">
                    <span id="close">&times;</span>
                    <div class="onMenu" href="#" id="m_logout">Logout</div>
                    <div class="onMenu" href="#" id="m_account">Account</div>
                    <div class="onMenu" href="#" id="m_archord">Storico Ordini</div>
                    <div class="onMenu" id="logoRes">
                                <img src="img/logo.png" id="logoMenu"> </img>
                    </div>
                    <form id="scltCitta" class="onMenu"> Prova <!--Da specificare per cambiare select-->
                        <select name="scltCitta">
                            <option value="citta001">Milano</option>
                            <option value="citta002">Roma</option>
                            <option value="citta003">Genova</option>
                        </select> 
                    </form> 

                    <div class="onMenu" href="#" id="m_opz">Opzioni</div>
                    <div class="onMenu" href="#" id="m_newsletter">Newsletter</div>
                    <div class="onMenu" href="#" id="m_help">Aiuto</div>
                    <div id="mLinks">
                        <a href="#">Domande Utili</a>
                        <a href="#">Informazioni</a>
                        <a href="#">Calendario</a>
                        <a href="#">Chi Siamo</a>
                    </div>
                </div> <!-- CHIUSURA parteSM -->
                <div id="parteOP">
                    <div class="onMenu" id="op_notif">Notifiche</div>
                    <div class="onMenu" id="op_suoni">Suoni</div>
                    <div class="onMenu" id="op_cancDatiLog">Cancella Dati Login</div>
                    <div class="onMenu" id="op_back">Indietro</div>
                </div>
            </div>
            
            <div id="sdwModal"></div><!-- shadowModal serve per creare l'ombra con il resto delle cose presenti dietro al sidemenu -->
            <div id="cartModal"><!-- Carrello --> 
                <div class="row">
                    <span id="m_Title" class="col s12 center-align"><h5>CARRELLO</h5></span>

                    <div class="col s10 push-s1">
                        <!-- INIZIO BASE -->
                        <hr class="col s12"/>
                        <div>
                            <div class="col s6 left-align">
                                Prodotto
                            </div>
                            <div class="col s2 left-align">
                                Costo
                            </div>
                            <div class="col s2 left-align">
                                Qnt.
                            </div>
                            <div class="col s2 left-align">
                                Tot
                            </div>
                        </div>
                        <hr class="col s12"/>
                        <!-- FINE BASE -->
                        <!-- INIZIO PARTE HANDLEBARS / DINAMICA -->
                        <div>
                            <div class="col s2 left-align">
                                Pics
                            </div>
                            <div class="col s4 left-align">
                                Prodotto
                            </div>
                            <div class="col s2 left-align">
                                3.00€
                            </div>
                            <div class="col s2 left-align">
                                4
                            </div>
                            <div class="col s2 left-align">
                                12.00€
                            </div>
                        </div>
                        <hr class="col s12"/>
                        <!-- FINE PARTE HANDLEBARS / DINAMICA -->
                    </div>
                    <!-- INIZIO SECONDA PARTE CON OPERAZIONI!-->
                    <div class="col s7 push-s4">
                            <div class="col s8">Gestione</div>
                            <div class="col s4">2.00€</div>
                            <hr class="col s12"/>
                            <div class="col s8">Consegna</div>
                            <div class="col s4">Gratis!</div>
                            <hr class="col s12"/>
                            <div class="col s8">TOTALE</div>
                            <div class="col s4">34€</div> 
                            <!-- COME FACCIO A CALCOLARLO?? -->
                            <hr class="col s12"/>

                    </div>

                    <a id="m_Sped" class="waves-effect waves-light btn col s12 center-align">Fai il Checkout</a>
                    <a id="cartClose" class="waves-effect waves-light btn col s12 center-align">Torna Indietro</a>
                </div>
            </div>

           

            <!-- INIZIO BARRA SUPERIORE -->

            <div id="bar_bg"> <!-- ex TopBar -->
                <div id="bar_main"> <!-- ex menuBar -->
                    <!-- Parte con icone tra cui il logo -->
                    <!--Tutte le immagini da inserire -->
                    <div id="menuIcon"></div>
                    <!--<div id="searchIcon"></div>-->
                    <form id="searchIcon">
                        <input type="text" name="search" placeholder="">
                    </form>
                    <div id="cartIcon"></div>
                </div>
                <div id="bar_sub" class="i-container red darken-4"> <!-- navbar -->
                    <!-- Parte con Offerte/Categorie/Aziende -->
                        <div class="i-g">
                            <div class="i-4" id="tOfferte">Offerte</div>
                            <div class="i-4" id="tCategorie">Categorie</div>
                            <div class="i-4" id="tAziende">Aziende</div>
                        </div>     
                </div>
            </div>
            
            <!-- FINE BARRA SUPERIORE -->
<div id="content" class="content green lighten-1"> <!-- DOVE FINISCE IL CONTENT DELLE PAGINE LEGATE AD HEAD NAVIG -->

</div>
