<!--    SIDEMENU           -->
<header>
            

            <!-- Nuova Prova Sidemenu -->
            <!-- The Modal -->
            <div id="myModal">

                <div id="decorazione"></div>
                <span id="close">&times;</span>
                <div class="onMenu" href="#" id="m_logout">Logout</div>
                <div class="onMenu" href="#" id="m_wlist">Lista Dei Desideri</div>
                <div class="onMenu" href="#" id="m_archord">Storico Ordini</div>
                <div class="onMenu" href="#" id="m_ladr">I Miei Indirizzi</div>
                <div class="onMenu" id="logoRes">
                            <img src="img/logo.png" id="logoMenu"> </img>
                </div>
                <form id="scltCitta" class="onMenu"> Prova <!--Da specificare per cambiare select-->
                    <select name="scltCitta">
                        <option value="citta001">Milano</option>
                        <option value="citta002">Roma</option>
                        <option value="citta003">Genova</option>
                    </select> 
                </form> 

                <div class="onMenu" href="#" id="m_opz">Opzioni</div>
                <div class="onMenu" href="#" id="m_newsletter">Newsletter</div>
                <div class="onMenu" href="#" id="m_help">Aiuto</div>
                <div id="mLinks">
                    <a href="#">Domande Utili</a>
                    <a href="#">Informazioni</a>
                    <a href="#">Calendario</a>
                    <a href="#">Chi Siamo</a>
                </div>

            </div>
            
            <div id="sdwModal"></div><!-- shadowModal serve per creare l'ombra con il resto delle cose presenti dietro al sidemenu -->
            <div id="cartModal"><!-- Carrello --> 
                        <div id="cartDecorazione"></div>
            </div>

           

            <!-- INIZIO BARRA SUPERIORE -->

            <div id="bar_bg"> <!-- ex TopBar -->
                <div id="bar_main"> <!-- ex menuBar -->
                    <!-- Parte con icone tra cui il logo -->
                    <!--Tutte le immagini da inserire -->
                    <div id="menuIcon"></div>
                    <div id="searchIcon"></div>
                    <div id="cartIcon"></div>
                </div>
                <div id="bar_sub"> <!-- navbar -->
                    <!-- Parte con Offerte/Categorie/Aziende -->
                    <div id="tastoOfferte"><p>Offerte</p></div>
                    <div id="tastoCategorie"><p>Categorie</p></div>
                    <div id="tastoAziende"><p>Aziende</p></div>
                </div>
            </div>
</header>
            <!-- FINE BARRA SUPERIORE -->
<div id="content" class="content"> <!-- DOVE FINISCE IL CONTENT DELLE PAGINE LEGATE AD HEAD NAVIG -->
</div>
