
    <div>
        <div class="center-align" id="ins_Colonna"></div>
        <div class="circle" id="c_top"></div>
        <div class="circle" id="c_middle"></div>
        <div class="circle" id="c_bottom"></div>
    </div>
    <div id="ins_dx">
        <div class="row">
            <div id="ins_spedizione" class="col s12">
                <div class="col s12"><h6><b>Indirizzo di spedizione</h6></b></div>
                <br></br>
                <div class="col s6" id="sp_nome">Nome</div>
                <br></br>

                <div class="col s6" id="sp_surn">Cognome</div>
                <br></br>
                <div class="col s6" id="sp_ind">Indirizzo</div>
                <br></br>
                <div class="col s6" id="sp_cit">Città/Provincia</div>
                <br></br>
                <div class="col s6" id="sp_tel">Telefono</div>
                <br></br>
            </div>
            <div id="ins_consegna" class="col s12">
              
                    <div class="col s12"><h6><b>Modalità di consegna</b></h6></div>
                
                    <div class="col s12"><b>Scegli la data della consegna:</b></div>
                
                    <div class="col s6">Giorno</div>
                    <div class="col s6">Mese</div>
                    <!--<div class="col s4">Anno</div>-->
              
                    <div class="col s6">
                        <select class="browser-default center-block" id="selGiorno" name="giorno">
                            <option value="" disabled selected>Giorno</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>

                    </div>
                    <div class="col s6">
                        <select class="browser-default center-block" id="selMese" name="mese">
                            <option value="" disabled selected>Mese</option>
                            <option value="1">gennaio</option>
                            <option value="2">febbraio</option>
                            <option value="3">marzo</option>
                            <option value="4">aprile</option>
                            <option value="5">maggio</option>
                            <option value="6">giugno</option>
                            <option value="7">luglio</option>
                            <option value="8">agosto</option>
                            <option value="9">settembre</option>
                            <option value="10">ottobre</option>
                            <option value="11">novembre</option>
                            <option value="12">dicembre</option>
                        </select>
                    </div>
                    <!--<div class="col s6">Anno</div>-->

                        <p class="col s12">
                          <input type="checkbox" id="chkb_a" value="chkb_a">
                          <label> è una spesa regalo</label>
                        </p>
                        <p class="col s12">
                          <input type="checkbox" id="chkb_b" value="chkb_b">
                          <label>Accetto le condizioni generali di vendita</label>
                        </p>
                        





            
            </div>

            <div id="ins_pulsanti" class="col s12">
                <div class="col s6">
                    <div id="t_Riepilogo" class="waves-effect waves-light btn center-align col s12">Procedi</div>
                </div>

                <div class="col s6">
                    <div id="t_Back" class="waves-effect waves-light btn center-align col s12">Torna Indietro</div>
                </div>
            </div>
        </div>
    </div>



