
        <div class="appMenu">
<!--    CAMBIAMENTI DA APPORTARE: 
        La form comprenderà tutte le cose che si possono settare in questa pagina
        e quindi bisognerà strutturare l'html a modo
 -->
           <!-- <div id="titolo_">Scegli Indirizzo</div>-->
            <div id="lineaSX">
                <div class="circle" id="topCircle"></div>
                <div class="circle" id="middleCircle"></div>
                <div class="circle" id="bottomCircle"></div>
            </div>
            <div id="intScegliInd">
                <div id="scegliIndirizzo">
                    <p class="nomeSezione"> Scegli indirizzo </p>
                    <div> 
                        <div>Scegli un indirizzo di consegna:</div>
                        <form class="isInd">
                        <select id="indirizziUtente" name="indirizziUtente">
                          <option value="indirizzo001">Primo Indirizzo dell'utente</option>
                          <option value="indirizzo002">Secondo Indirizzo dell'utente</option>
                          <option value="indirizzo003">Terzo Indirizzo dell'utente</option>
                        </select> 
                        </form> 
                    </div>
                    <div>QUAD Usa lo stesso indirizzo per la fatturazione </div>
                    <div class="MD_spedButton">
                        <div class="opM_button">Mostra Dettagli Indirizzo</div>
                    </div>

                    <div>Scegli un indirizzo di fatturazione: </div>
                    <div> 
                        <form class="isInd">
                            <select id="indirizziUtente" name="indirizziUtente">
                              <option value="indirizzo001">Primo Indirizzo dell'utente</option>
                              <option value="indirizzo002">Secondo Indirizzo dell'utente</option>
                              <option value="indirizzo003">Terzo Indirizzo dell'utente</option>
                            </select> 
                        </form>  
                    </div>
                    <div class="MD_spedButton">
                        <div class="opM_button">Mostra Dettagli Indirizzo</div>
                    </div>
                    
                </div>
                <div id="scegliConsegna">  
                    <p> Scegli la modalità della consegna </p><br>
                    
                    <div> Scegli il giorno della consegna: </div>
                    <div> Tendina piccola     ------>      Consegna Gratuita! </div>
                    
                    <div> Scegli la data della consegna: </div>

                    <div> giorno mese anno </div>
                    <div> tendinaGiorno  TendinaMese   TendinaAnno</div>

                    <div>  </div>
                    <br>
                    <div>QUAD Questa è una spesa regalo </div>
                    <div>QUAD Accetto le condizioni generali di vendita </div>
                    <div>QUAD Accetto le clausole indicate... </div>
                </div>
                <div id="scegliBottoni">
                    <div class="opM_button">Procedi con Paypal</div>
                    <div class="opM_button">Torna al Carrello</div>
                </div>
            </div>

        </div>
