
        <div>
<!--    CAMBIAMENTI DA APPORTARE: 
        
 -->
            <div id="titolo_">Lista Desideri</div>
            <div id="nomeListaD">
                <p id="ld_nome">Nome Lista Desideri</p>
                <p>Contiene tot elementi</p>
                <!-- Contiene TOT elementi -->
               

            </div>    
            <div id="elementiListaD">
                <!-- Elementi visualizzati a due a due, scroll verticale -->
                
            </div> 
            <div id="ld_bottone">
                <div class="opM_button"></div>
            </div>
          
        </div>
        <span id="tastoIndietro"> Bottone per tornare indietro </span>
