
        <div class="appNavig">


            <div id="list_cat">
                <div tabindex="0">Categoria 1
                    <div class="descrHidden">
                        <div> sub categoria </div>
                        <div> sub categoria </div>
                        <div> sub categoria </div>
                    </div>
                </div>
                

                <div tabindex="0">Categoria 2
                     <div class="descrHidden">
                        <div> sub categoria </div>
                        <div> sub categoria </div>  
                        <div> sub categoria </div>
                    </div>
                </div>
        
                <div tabindex="0">Categoria 3
                    <div class="descrHidden">
                        <div> sub categoria </div>
                        <div> sub categoria </div>
                        <div> sub categoria </div>
                    </div>
                </div>
            
                <div tabindex="0">Categoria 4
                     <div class="descrHidden">
                        <div> sub categoria </div>
                        <div> sub categoria </div>
                        <div> sub categoria </div>
                    </div>
                </div>

                 <div tabindex="0">Categoria 5
                    <div class="descrHidden">
                        <div> sub categoria </div>
                        <div> sub categoria </div>
                        <div> sub categoria </div>
                    </div>
                </div>

                <div tabindex="0">Categoria 6
                     <div class="descrHidden">
                        <div> sub categoria </div>
                        <div> sub categoria </div>  
                        <div> sub categoria </div>
                    </div>
                </div>
        
                <div tabindex="0">Categoria 7
                    <div class="descrHidden">
                        <div> sub categoria </div>
                        <div> sub categoria </div>
                        <div> sub categoria </div>
                    </div>
                </div>
            
                <div tabindex="0">Categoria 8
                     <div class="descrHidden">
                        <div> sub categoria </div>
                        <div> sub categoria </div>
                        <div> sub categoria </div>
                    </div>
                </div>
            </div>


        </div>