
        <div class="appNavig">

            <!-- height & width uguali, sono dei quadrati (100px circa)
            **** Simbolo Azienda e sotto Nome azienda
            **** Si deve creare una classe aBlock (azienda Block)
            -->
            <div id="azSet">
                <div class="aSX">
                    <div class="aBlock"></div>
                    <div class="aBlock"></div>
                    <div class="aBlock"></div>
                    <div class="aBlock"></div>
                </div>
                <div class="aCNT">
                    <div class="aBlock"></div>
                    <div class="aBlock"></div>
                    <div class="aBlock"></div>
                    <div class="aBlock"></div>
                </div>
                <div class="aDX">
                    <div class="aBlock"></div>
                    <div class="aBlock"></div>
                    <div class="aBlock"></div>
                </div>    
            </div>
            


        </div>
