
        <div id="l_Container" class="card-panel white"> 
           
            
            <form id="lForm">
                <div></div> 
                    
                        <input type="text" id="fusername" name="fusername" placeholder="Username">
                    

                <div></div> 
                    
                        <input type="text" id="fpassword" name="fpassword" placeholder="Password">
                    
                <div></div> 
            </form>
            
            <div id="pButton" class="valign-wrapper">
                <a class="waves-effect waves-light btn valign center-block" id="buttonLogin">Connettiti</a>
            </div>

            <div id="Automate">connettiti all'avvio</div>

            <div id="link">
                    <div id="link_ps">
                        <a href="#">Password Scordata?</a>
                    </div>
                    <div id="link_r">
                        <a href="#">Registrati!</a>
                    </div>
            </div>

        </div>
