
        <div class="appMenu">
          <div id="titolo_">I Miei Ordini</div>
            <hr class="linea"/><br/>
            <div class="sezione">
              <div class="primaPosSx" >Numero Ordine</div>
              <div class="primaPosDx" >Data Ordine Effettuato</div>
              <div class="secondaPosSx">Inviato a Nome Cognome</div> 
              <div class="secondaPosDx">Totale:2000,00€</div>
              <div class="MO_button">
                  <div class="opM_button">Visualizza Dettagli</div>
                  <div class="opM_button">Fattura</div>
              </div>
            </div>
            <hr class="linea"/><br/>
            <div class="sezione">
                <div class="primaPosSx" >Numero Ordine</div>
                <div class="primaPosDx" >Data Ordine Effettuato</div>
                <div class="secondaPosSx">Inviato a Nome Cognome</div>
                <div class="secondaPosDx">Totale:2000,00€</div>
                <div class="MO_button">
                  <div class="opM_button">Visualizza Dettagli</div>
                  <div class="opM_button">Fattura</div>
                </div>
            </div>
            <hr class="linea"/><br/>
            <div class="sezione">
                <div class="primaPosSx" >Numero Ordine</div>
                <div class="primaPosDx" >Data Ordine Effettuato</div>
                <div class="secondaPosSx">Inviato a Nome Cognome</div>
                <div class="secondaPosDx">Totale:2000,00€</div>
                <div class="MO_button">
                    <div class="opM_button">Visualizza Dettagli</div>
                    <div class="opM_button">Fattura</div>
                </div>
            </div>

            <hr class="linea"/><br/>
            <!-- thumbnail + nome, costo, quantità, totale costo -->
            <div class="sezione">
                <div class="primaPosSx" >Numero Ordine</div>
                <div class="primaPosDx" >Data Ordine Effettuato</div>
                <div class="secondaPosSx">Inviato a Nome Cognome</div>
                <div class="secondaPosDx">Totale:2000,00€</div>
                <div class="MO_button">
                    <div class="opM_button">Visualizza Dettagli</div>
                    <div class="opM_button">Fattura</div>
                </div>
            </div>

            <hr class="linea"/><br/>

            <div id="MOP_button">
              <div class="opM_button">Torna alle Offerte</div>
            </div>

        </div>
