<div class="appMenu">
          <div id="titolo_">I Miei Ordini</div>
            
            <div class="i-g">
              <hr class="linea"/><br/>
              <div class="i-6">Numero Ordine</div>
              <div class="i-6">Data Ordine</div>
              <div class="i-6">Inviato a </div> 
              <div class="i-6">Totale:2000,00€</div>
              <!-- se non uso ice-cream non si allineano con il resto -->
              <div class="i-6">Dettagli</div>
              <div class="i-6">Fattura</div>
            </div>

            <div class="i-g">
              <hr class="linea"/><br/>
              <div class="i-6">Numero Ordine</div>
              <div class="i-6">Data Ordine</div>
              <div class="i-6">Inviato a </div> 
              <div class="i-6">Totale:2000,00€</div>
              <!-- se non uso ice-cream non si allineano con il resto -->
              <div class="i-6">Dettagli</div>
              <div class="i-6">Fattura</div>
            </div>
            
            <div class="i-g">
              <hr class="linea"/><br/>
              <div class="i-6">Numero Ordine</div>
              <div class="i-6">Data Ordine</div>
              <div class="i-6">Inviato a </div> 
              <div class="i-6">Totale:2000,00€</div>
              <!-- se non uso ice-cream non si allineano con il resto -->
              <div class="i-6">Dettagli</div>
              <div class="i-6">Fattura</div>
            </div>

           
            <!-- thumbnail + nome, costo, quantità, totale costo -->
            <div class="i-g">
              <hr class="linea"/><br/>
              <div class="i-6">Numero Ordine</div>
              <div class="i-6">Data Ordine</div>
              <div class="i-6">Inviato a </div> 
              <div class="i-6">Totale:2000,00€</div>
              <!-- se non uso ice-cream non si allineano con il resto -->
              <div class="i-6">Dettagli</div>
              <div class="i-6">Fattura</div>
              
            </div>

            <hr class="linea"/><br/>

            <div class="MO_button"> Vai Avanti </div>

            

            <span id="tastoIndietro"> Bottone per tornare indietro </span>



        </div>
