
        <div>

            <div id="titolo_">I Miei Indirizzi</div>
            <div class="MI_box">
                <div id="nomeIndirizzo">_001 address</div>
                <div id="nome_cognome">Federico Tersigni</div>
                <div id="indirizzo">Via Morti di fame, 15</div>
                <div id="citta">Sora/frosinone/italia cap 03039</div>
                <div id="codicefiscale">AKOIQLND9127lKADOKN189983KD</div>
                <div id="telefono">3339998888</div>
                <!-- Mancano i bottoni -->
                <div class="MI_button">
                    <div class="opM_button">Aggiorna</div>
                    <div class="opM_button">Cancella</div>
                </div>
            </div>
            <div class="MI_box">
                <div id="nomeIndirizzo">_002 address</div>
                <div id="nome_cognome">Nome Cognome</div>
                <div id="indirizzo">Indirizzo</div>
                <div id="citta">Città/Provincia/Nazione/CAP</div>
                <div id="codicefiscale">Codice Fiscale</div>
                <div id="telefono">Numero di Telefono / Cellulare</div>
                <div class="MI_button">
                    <div class="opM_button">Aggiorna</div>
                    <div class="opM_button">Cancella</div>
                </div>
            </div>

            <div class="MI_button">
                <div class="opM_button">Nuovo Indirizzo</div>
                <div class="opM_button">Torna Indietro</div>
            </div>

        </div>


