<div>

            <div id="titolo_">I Miei Indirizzi</div>
            <div class="MI_box" class="i-g">
                <div id="nomeIndirizzo" class="i-8">_001 address</div>
                <div id="nome_cognome" class="i-8">Federico Tersigni</div>
                <div id="indirizzo" class="i-8">Via Morti di fame, 15</div>
                <div id="citta" class="i-8">Sora/frosinone/italia cap 03039</div>
                <div id="codicefiscale" class="i-8">AKOIQLND9127lKADOKN189983KD</div>
                <div id="telefono" class="i-8">3339998888</div>
                <!-- Mancano i bottoni -->
                <div class="i-8">
                    <div class="MI_button">
                        <div class="opM_button opM_sx">Aggiorna</div>
                        <div class="opM_button opM_dx">Cancella</div>
                    </div>
                </div>
            </div>
            
            <div class="MI_box" class="i-g">
                <div id="nomeIndirizzo" class="i-8">_002 address</div>
                <div id="nome_cognome" class="i-8">Nome Cognome</div>
                <div id="indirizzo" class="i-8">Indirizzo</div>
                <div id="citta" class="i-8">Città</div>
                <div id="codicefiscale" class="i-8">Codice Fiscale</div>
                <div id="telefono" class="i-8">Numero di Telefono</div>
                
                <div class="i-8">
                    <div class="MI_button">
                        <div class="opM_button opM_sx">Aggiorna</div>
                        <div class="opM_button opM_dx">Cancella</div>
                    </div>
                </div>
            </div>

            <div id="MI_nav_t">
                <div class="opM_button" id="t_NuovoIndir">Aggiungi un nuovo indirizzo</div>
                <div class="opM_button" id="tastoIndietro">Bottone per tornare indietro</div>
            </div>
            

</div>
        



