<div id="container_Offerte">
    <h6 class="center-align"><b>In Offerta</b></h6>
    <div class="autoplay">

            {{#each [0]}} {{#if name}}
                <div class="productBox card white" id="dettaglioprodotto" data-prod="{{id}}">
                {{#if img}}
                <div class="prod_img card-image">
                
                    <img src="{{img}}" data-prod="{{id}}">
                    {{else}}
                    <img src="img/no.jpg" data-prod="{{id}}"> {{/if}}
                 </div>
                    <div class="card-content" data-prod="{{id}}" imgSrc="{{img}}">
                        <span class="prod_nome">{{name}}</span>
                        <span class="prod_az"></span>
                    </div>
                    <a class="waves-effect waves-light btn">button</a>
                </div>
               {{/if}} {{/each}}

    </div>
</div>

<div id="container_Nuovi">
    <h6 class="center-align"><b>Nuovi Arrivi</b></h6>
    <div class="autoplay">

            {{#each [0]}} {{#if name}}
                <div class="productBox card white" id="dettaglioprodotto">
                {{#if img}}
                <div class="prod_img card-image">
                
                    <img src="{{img}}" data-prod="{{id}}">
                    {{else}}
                    <img src="img/no.jpg" data-prod="{{id}}"> {{/if}}
                 </div>
                    <div class="card-content" data-prod="{{id}}" imgSrc="{{img}}">
                        <span class="prod_nome">{{name}}</span>
                        <span class="prod_az"></span>
                    </div>
                    <a class="waves-effect waves-light btn">button</a>
                </div>
               {{/if}} {{/each}}

    </div>
</div>



<!--
<div id="container_Offerte">
    <h6 class="center-align"><b>In Offerta</b></h6>
    <div class="autoplay center-align">
        <div>
            <div class="productBox card white">
                <div class="prod_img card-image">immagine</div>
                <div class="card-content">
                    <span class="prod_nome">prodotto</span>
                    <span class="prod_az">azienda</span>
                </div>
                <a class="waves-effect waves-light btn">button</a>
            </div>
        </div>
        <div>
            <div class="productBox card white">
                <div class="prod_img card-image">immagine</div>
                <div class="card-content">
                    <span class="prod_nome">prodotto</span>
                    <span class="prod_az">azienda</span>
                </div>
                <a class="waves-effect waves-light btn">button</a>
            </div>
        </div>
        <div>
            <div class="productBox card white">
                <div class="prod_img card-image">immagine</div>
                <div class="card-content">
                    <span class="prod_nome">prodotto</span>
                    <span class="prod_az">azienda</span>
                </div>
                <a class="waves-effect waves-light btn">button</a>
            </div>
        </div>
        <div>
            <div class="productBox card white">
                <div class="prod_img card-image">immagine</div>
                <div class="card-content">
                    <span class="prod_nome">prodotto</span>
                    <span class="prod_az">azienda</span>
                </div>
                <a class="waves-effect waves-light btn">button</a>
            </div>
        </div>
    </div>
</div>
<br/><br/>


<div id="container_Nuovi">
    <h6 class="center-align"><b>Nuovi Arrivi</b></h6>
    <div class="autoplay center-align">
        <div>
            <div class="productBox card white">
                <div class="prod_img card-image">immagine</div>
                <div class="card-content">
                    <span class="prod_nome">prodotto</span>
                    <span class="prod_az">azienda</span>
                </div>
                <a class="waves-effect waves-light btn">button</a>
            </div>
        </div>

        <div>
            <div class="productBox card white">
                <div class="prod_img card-image">immagine</div>
                <div class="card-content">
                    <span class="prod_nome">prodotto</span>
                    <span class="prod_az">azienda</span>
                </div>
                <a class="waves-effect waves-light btn">button</a>
            </div>
        </div>
        <div>
            <div class="productBox card white">
                <div class="prod_img card-image">immagine</div>
                <div class="card-content">
                    <span class="prod_nome">prodotto</span>
                    <span class="prod_az">azienda</span>
                </div>
                <a class="waves-effect waves-light btn">button</a>
            </div>
        </div>
        <div>
            <div class="productBox card white">
                <div class="prod_img card-image">immagine</div>
                <div class="card-content">
                    <span class="prod_nome">prodotto</span>
                    <span class="prod_az">azienda</span>
                </div>
                <a class="waves-effect waves-light btn">button</a>
            </div>
        </div>
    </div>
</div>
-->
