
        


            
            <!-- 
            <div id="bSet">
                
                <div> 
                    <li onclick="location.href='???';" class="secondary-content">
                        <img class="img_block" src="img/logoPreload.png"/>   
                        <span class="title">Nome prodotto</span>
                        <span class="title">Nome azienda</span>     
                        <div id="carrello1">
                            <input type="button" class="button_"  value="carrello"/>
                        </div> 
                        <div id="cuore1">
                            <input type="button" class="button_" value="cuore"/>
                        </div>
                    </div>
                    <div id="pBlock" class="secondary-content">
                        <img class="img_block" src="img/logoPreload.png"/>   
                        <p align="center">Nome prodotto</p>
                        <p align="center">Nome azienda</p>     
                        <div id="carrello1">
                            <input type="button" class="button_"  value="carrello"/>
                        </div> 
                        <div id="cuore1">
                            <input type="button" class="button_" value="cuore"/>
                        </div>
                    </div>
                    <div id="pBlock" class="secondary-content">
                        <img class="img_block" src="img/logoPreload.png"/>   
                        <p align="center">Nome prodotto</p>
                        <p align="center">Nome azienda</p>     
                        <div id="carrello1">
                            <input type="button" class="button_"  value="carrello"/>
                        </div> 
                        <div id="cuore1">
                            <input type="button" class="button_" value="cuore"/>
                        </div>
                    </div>
                </div>
                <!-- NUOVI ARRIVI -->
                <!--<div> <!-- Mi distingue tra i blocchi orizzontali "Nuovi Arrivi" -->
                    <!--<h2> Nuovi Arrivi </h2>
                    <div id="pBlock" class="sx">
                        <img class="img_block" src="img/logoPreload.png"/>   
                        <p align="center">Nome prodotto</p>
                        <p align="center">Nome azienda</p>     
                        <div id="carrello1">
                            <input type="button" class="button_"  value="carrello"/>
                        </div> 
                        <div id="cuore1">
                            <input type="button" class="button_" value="cuore"/>
                        </div>
                    </div>
                    <div id="pBlock" class="cnt">
                        <img class="img_block" src="img/logoPreload.png"/>   
                        <p align="center">Nome prodotto</p>
                        <p align="center">Nome azienda</p>     
                        <div id="carrello1">
                            <input type="button" class="button_"  value="carrello"/>
                        </div> 
                        <div id="cuore1">
                            <input type="button" class="button_" value="cuore"/>
                        </div>
                    </div>
                    <div id="pBlock" class="dx">
                        <img class="img_block" src="img/logoPreload.png"/>   
                        <p align="center">Nome prodotto</p>
                        <p align="center">Nome azienda</p>     
                        <div id="carrello1">
                            <input type="button" class="button_"  value="carrello"/>
                        </div> 
                        <div id="cuore1">
                            <input type="button" class="button_" value="cuore"/>
                        </div>
                    </div>
                </div>
                
            </div> 
        </div>-->


<!-- parte di prova Michele collezione offerte-->

<div id="containeroff">
<p align="center">Prodotti in offerta </p>
    <div class="single-item">
        <div>
        aaaaa
        </div>
        <div>
        bbbbb
        </div>
        <div>
        ccccc  
        </div>

    </div>
</div>




<!--
<div id="containeroff" >
    <ul class="collection">
      <li class="collection-item avatar">
        <img src="img/logoPreload.png" alt="" class="circle">
        <span class="title">Title</span>
        <p>Nome Prodotto <br>
           Dettagli
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">carrello</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">insert_chart</i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
    </ul>

  </div>
-->





  



        
