


<div id="container_Offerte">
    <h6 class="center-align"><b>In Offerta</b></h6>
    <div class="autoplay center-align">
        <div>
            <div class="productBox card white">
                <div class="prod_img card-image">immagine</div>
                <div class="card-content">
                    <span class="prod_nome">prodotto</span>
                    <span class="prod_az">azienda</span>
                </div>
                <a class="waves-effect waves-light btn">button</a>
            </div>
        </div>
        <div>
            <div class="productBox card white">
                <div class="prod_img card-image">immagine</div>
                <div class="card-content">
                    <span class="prod_nome">prodotto</span>
                    <span class="prod_az">azienda</span>
                </div>
                <a class="waves-effect waves-light btn">button</a>
            </div>
        </div>
        <div>
            <div class="productBox card white">
                <div class="prod_img card-image">immagine</div>
                <div class="card-content">
                    <span class="prod_nome">prodotto</span>
                    <span class="prod_az">azienda</span>
                </div>
                <a class="waves-effect waves-light btn">button</a>
            </div>
        </div>
        <div>
            <div class="productBox card white">
                <div class="prod_img card-image">immagine</div>
                <div class="card-content">
                    <span class="prod_nome">prodotto</span>
                    <span class="prod_az">azienda</span>
                </div>
                <a class="waves-effect waves-light btn">button</a>
            </div>
        </div>
    </div>
</div>
<br/><br/>


<div id="container_Nuovi">
    <h6 class="center-align"><b>Nuovi Arrivi</b></h6>
    <div class="autoplay center-align">
        <div>
            <div class="productBox card white">
                <div class="prod_img card-image">immagine</div>
                <div class="card-content">
                    <span class="prod_nome">prodotto</span>
                    <span class="prod_az">azienda</span>
                </div>
                <a class="waves-effect waves-light btn">button</a>
            </div>
        </div>

        <div>
            <div class="productBox card white">
                <div class="prod_img card-image">immagine</div>
                <div class="card-content">
                    <span class="prod_nome">prodotto</span>
                    <span class="prod_az">azienda</span>
                </div>
                <a class="waves-effect waves-light btn">button</a>
            </div>
        </div>
        <div>
            <div class="productBox card white">
                <div class="prod_img card-image">immagine</div>
                <div class="card-content">
                    <span class="prod_nome">prodotto</span>
                    <span class="prod_az">azienda</span>
                </div>
                <a class="waves-effect waves-light btn">button</a>
            </div>
        </div>
        <div>
            <div class="productBox card white">
                <div class="prod_img card-image">immagine</div>
                <div class="card-content">
                    <span class="prod_nome">prodotto</span>
                    <span class="prod_az">azienda</span>
                </div>
                <a class="waves-effect waves-light btn">button</a>
            </div>
        </div>
    </div>
</div>



<!--
<div id="containeroff" >
    <ul class="collection">
      <li class="collection-item avatar">
        <img src="img/logoPreload.png" alt="" class="circle">
        <span class="title">Title</span>
        <p>Nome Prodotto <br>
           Dettagli
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">carrello</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">insert_chart</i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
    </ul>

  </div>
--> 
