<div id="ord_content">
    <div class="row">
        <span id="m_Title" class="col s12 center-align"><h5>Ordine</h5></span>

        <div class="col s10 push-s1">
            
            <hr class="col s12"/>
            <div>
                <div class="col s6 left-align">
                    Prodotto
                </div>
                <div class="col s2 left-align">
                    Costo
                </div>
                <div class="col s2 left-align">
                    Qnt.
                </div>
                <div class="col s2 left-align">
                    Tot
                </div>
            </div>
            <hr class="col s12"/>
           
            <div>
                <div class="col s2 left-align">
                    Pics
                </div>
                <div class="col s4 left-align">
                    Prodotto
                </div>
                <div class="col s2 left-align">
                    3.00€
                </div>
                <div class="col s2 left-align">
                    4
                </div>
                <div class="col s2 left-align">
                    12.00€
                </div>
            </div>
            <hr class="col s12"/>
            
        </div>
        <a id="tastoRicompra" class="waves-effect waves-light btn col s12 center-align">Compra di nuovo</a>
        <a id="tastoIndietro" class="waves-effect waves-light btn col s12 center-align">Torna Indietro</a>

    </div>
</div>    
