<div id="ro_content">
    <div class="row">
        <span id="m_Title" class="col s12 center-align"><h5>Riepilogo Ordine</h5></span>

        <div class="col s10 push-s1">
            <!-- INIZIO BASE -->
            <hr class="col s12"/>
            <div>
                <div class="col s6 left-align">
                    Prodotto
                </div>
                <div class="col s2 left-align">
                    Costo
                </div>
                <div class="col s2 left-align">
                    Qnt.
                </div>
                <div class="col s2 left-align">
                    Tot
                </div>
            </div>
            <hr class="col s12"/>
            <!-- FINE BASE -->
            <!-- INIZIO PRIMA PARTE HANDLEBARS / DINAMICA -->
            {{#each this}}
            <div>
                <div class="col s2 left-align">
                    Pics
                </div>
                <div class="col s4 left-align">
                    Prodotto
                </div>
                <div class="col s2 left-align">
                    3.00€
                </div>
                <div class="col s2 left-align">
                    4
                </div>
                <div class="col s2 left-align">
                    12.00€
                </div>
            </div>
            <hr class="col s12"/><!-- per ogni ordine c'è una linea sotto-->
            {{/each}}
            <!-- FINE PRIMA PARTE HANDLEBARS / DINAMICA -->
        </div>
        <!-- INIZIO SECONDA PARTE CON OPERAZIONI!-->
        <div class="col s7 push-s4">
                <div class="col s8">Gestione</div>
                <div class="col s4">2.00€</div>
                <hr class="col s12"/>
                <div class="col s8">Consegna</div>
                <div class="col s4">Gratis!</div>
                <hr class="col s12"/>
                <div class="col s8">TOTALE</div>
                <div class="col s4">34€</div> 
                <!-- COME FACCIO A CALCOLARLO?? -->
                <hr class="col s12"/>

        </div>


        <a id="t_Back" class="waves-effect waves-light btn col s12 center-align">Torna Indietro</a>

    </div>
</div>    



