<!-- In top come titolo c'è la categoria!!!! -->


<div id="rslt_content">
<!-- 
**** DIV che non è altro che una striscia bianca con una scritta nera sopra!
-->
    <div class="row">
        {{#each this}}
            <div class="col s6">
                <div class="productBox card white">
                    <div class="prod_img card-image">immagine</div>
                    <div class="card-content">
                        <span class="prod_nome">prodotto</span>
                        <span class="prod_az">azienda</span>
                    </div>
                    <a class="waves-effect waves-light btn">button</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>