<!-- In top come titolo c'è la stringa ricercata! -->


<div id="rslt_content">
<!-- 
**** DIV che non è altro che una striscia bianca con una scritta nera sopra!
-->
    <div class="row">
        {{#each this}}
            <div class="col s6">
                <div class="productBox card white" id="dettaglioprodotto" data-prod="{{id}}">
                    <div class="prod_img card-image">
                    <img src="{{img}}" data-prod="{{id}}">
                    </div>
                    <div class="card-content" data-prod="{{id}}">
                        <span class="prod_nome">{{name}}</span>
                        <span class="prod_az"></span>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
