
        <div class="appNavig">


            <!-- Qui vanno prodotti a 2, come quelli che vengono visualizzati in una categoria -->
            <div id="risRicerca" class="Scritta">Risultato Ricerca</div>
            <div id="vSet">
                    <div class="vBlockSX">
                        <div class="pBlock"></div>
                        <div class="pBlock"></div>
                        <div class="pBlock"></div>
                        <div class="pBlock"></div>
                    </div>
                    <div class="vBlockDX">
                        <div class="pBlock"></div>
                        <div class="pBlock"></div>
                        <div class="pBlock"></div>
                        <div class="pBlock"></div>
                    </div>

            </div>
            
            
            


        </div>
