        <div>

            <div id="titolo_">Indirizzo</div>
            <form id="SI_Form_">
                <label>Nome</label>
                <input type="text" id="fname" name="firstname">
                <label>Cognome</label>
                <input type="text" id="lname" name="lastname">
                <label>Azienda</label>
                <input type="text" id="azname" name="nomeazienda">
                <label>Indirizzo</label>
                <!-- ** METTO SOTTO COMMENTO SOLO PER UN MOMENTO
                <input type="text" id="address" name="address">
                <label>Dettagli</label>
                <input type="text" id="addrdet" name="addressdetails">
                <label>CAP</label>
                <input type="text" id="cap" name="cap">
                <label>Comune</label>
                <input type="text" id="com" name="comune">
                <label>Provincia</label>
                <input type="text" id="prov" name="provincia">
                <label>Nazione</label>
                <input type="text" id="naz" name="nazione">
                <label>Codice Fiscale</label>
                <input type="text" id="codfisc" name="codicefiscale">
                <label>N.Telefono</label>
                <input type="text" id="ntel" name="numerotelefono">
                <label>N.Cellulare</label>
                <input type="text" id="ncell" name="numerocellulare">
                <label>Nome Nuovo Indirizzo</label>
                <input type="text" id="nnaddress" name="newnameaddress"> -->
                <!-- L'ultima etichetta permette di scrivere di più -->  
                <label>Dati Supplementari</label>
                <textarea id="suppl" name="datisupplementari" cols="20" rows="2"></textarea>
            </form>
            
            <!-- Mancano i bottoni -->
            <div class="SlvI_button">
                <div class="opM_button">Salva</div>
                <div class="opM_button">Torna Indietro</div>
            </div>
        </div>
        <span id="tastoIndietro"> Bottone per tornare indietro </span>
