
        <div id="container" class="container">
            
            <div class="bgSC">
                <div>
                    <div class="redButton" id="lLogin">Connettiti all'applicazione</div>
                </div>
           </div>

           <div id="separate"><p>OPPURE</p></div>

           <div class="bgSC" id="sc_2BG">
                <select id="tendina">
                    <option value="volvo">Pescara</option>
                    <option value="saab">Chieti</option>
                    <option value="opel">Aquila</option>
                    <option value="audi">Lanciano</option>
                </select>


                <div>
                    <div class="redButton" id="lScelta">Scegli la citta ed entra</div>
                </div>
           </div>
           
        </div>
