
<div id="sc_Container">
  
    <div id="a_Sceltac" class="valign-wrapper center-align">
            <div class="valign center-block" id="lLogin">Connettiti</div>
    </div>

    <div id="separate" class="valign-wrapper"><p class="valign center-block">
      OPPURE
    </p></div>

    <div id="b_Sceltac" class="valign-wrapper">
      <div>
          <p>Scegli la città</p> <!-- DA RIMUOVERE, LASCIO IL TASTO -->
          <form>
              <select id="sel_Citta" name="citta">
                <!-- Qua ci vanno le città prese dal server -->
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
              </select>
          </form>
          <div class="redButton" id="lScelta">Scegli la citta ed entra
          </div>
      </div>

    </div>

</div>
